[Unit]
Description=Druid Broker Node

[Service]
User=druid
Group=druid

# Load any environment overrides from this file.
EnvironmentFile=-/etc/druid/broker/env.sh

ExecStart=/usr/bin/druid server broker

[Install]
WantedBy=multi-user.target
