[Unit]
Description=Druid MiddleManager Node

[Service]
User=druid
Group=druid

# Load any environment overrides from this file.
EnvironmentFile=-/etc/druid/middleManager/env.sh

ExecStart=/usr/bin/druid server middleManager

[Install]
WantedBy=multi-user.target
