[Unit]
Description=Druid Historical Node

[Service]
User=druid
Group=druid

# Load any environment overrides from this file.
EnvironmentFile=-/etc/druid/historical/env.sh

ExecStart=/usr/bin/druid server historical

[Install]
WantedBy=multi-user.target
