[Unit]
Description=Druid Overlord Node

[Service]
User=druid
Group=druid

# Load any environment overrides from this file.
EnvironmentFile=-/etc/druid/overlord/env.sh

ExecStart=/usr/bin/druid server overlord

[Install]
WantedBy=multi-user.target
